<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center">
            Mantenimeinto Preventivo <br><br>
            El mantenimiento Preventivo y Correctivo es un servicio que ofrecemos
            para pequeñas y medianas empresas que cuenten con una cantidad moderada de
            equipos de cómputo, la cual consta de una primera sesión en donde se optimiza
            el rendimiento de las computadoras y se realizan reportes de sus equipos de cómputo,
            con el fin de darle un mejor servicio en el menor tiempo posible durante el tiempo
            de su póliza.

        </div>
        <div class="col-lg-6">
            Para que Sirve un Mantenmeinto Preventivo <br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HGlGrzVIQiA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            SERVICIO EN CÓMPUTO <br><br>
            <img src="../../assets/img/VC1.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6">
            SOPORTE EN COMPUTO <br><br>
            Nuestro servicio, garantiza la revisión y optimización del funcionamiento del computador, así como realizar los soportes necesarios con el fin de prevenir fallas y mal funcionamiento del equipo. Este, consiste en realizar una limpieza general y hacer una verificación de funcionalidad tanto a la parte física (Hardware) como a la parte lógica del equipo (Software), proporcionando además, unas pautas de buenas prácticas para el uso del equipo.

        </div>
    </div>
    <div class="text-center bg-secondary">

        www.TecnoReparaciones.com.co <br>
        Transversal 50#30-43 <br>
        3006237421 <br>
        Barranquilla - Colombia <br>

    </div>

</div>