<h1 id="tx1">TecnoReparaciones- Mantenimiento a Equipo de Computo</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center">
            <h3>Que es un mantenimiento preventivo</h3><br><br>
            Es todo aquello que hacemos con el propósito de mantener nuestro ordenador funcionando de la manera más satisfactoria posible. Para esto hay que hacer una que otra prueba de vez en cuando, mientras más sistemáticos seamos más indoloro es el proceso. Todo con el objetivo de evitar la mayor cantidad de problemas, o de mitigar el daño en caso de una falla.

        </div>
        <div class="col-lg-6">
            <h3>Temporalidad del mantenimiento preventivo</h3> <br><br>
            Por temporalidad o frecuencia entenderemos el tiempo que transcurre entre un servicio de mantenimiento y otro. Se deben considerar los siguientes dos aspectos:

            Si la PC está en un ambiente extremadamente sucio se le debe dar servicio en promedio cada tres meses.
            Para la mayoría de los ambientes normales de oficina, el servicio se debe aplicar en promedio una o dos veces al año.

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">

                <h3>Diferencias entre MANTENIMIENTO PREVENTIVO Y CORRECTIVO</h3><br><br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/xwpuWfvrSag" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 text-center">
                <h3>la importancia del MANTENIMIENTO PREVENTIVO en el PC</h3><br><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QI_H-MhTR4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="text-center bg-secondary">

        www.TecnoReparaciones.com.co <br>
        Transversal 50#30-43 <br>
        3006237421 <br>
        Barranquilla - Colombia <br>

    </div>